body{
	background-color: linen;
	color: #3C1C06;
	font-family: Century;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;

}

.navbutton{
	background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: Century;
  font-size: 16px;
  /*input has OS specific font-family*/
  color: #3C1C06;
  text-decoration: none;
  cursor: pointer;
}

.navbutton:hover{
	color: darkgray;
}
.container{
	width: 80%;
	margin: auto;
	margin-top: 20px;
	overflow: visible;
	
}

#imgholder {
  position: relative;
  top: 0;
  left: 0;
}
#top{
	max-width: 100%;
    max-height: 100vh;
    height: auto;
    position: relative;
  	top: 0;
  	left: 0;
 }
#bottom {
  position: absolute;
  top: 20%;
  left: 47%;
  height: auto;
}

#resume{
	position: absolute;
	top: 30%;
	right: 5%;
	font: bold 16px Century;
	text-decoration: none;
	background-color: linen;
	color: #865a2d;
	padding: 10px 20px 10px 20px;
	border-radius: 25px;
	transition: 500ms;
	}

#resume:hover{
	background-color: #b69c81;
	color: linen;
}

#main-header{

	float: left;
	width: 50%;
	font-style: normal;
	display: inline;

}

#nav{

	float: right;
	width: 50%;
	text-align: right;
	
}

#nav li{
	display: inline;

}

.imgnbio{
	width: 70%;
	margin: auto;
	margin-top: 20px;
	overflow: visible;
}

#bio{
	width: 90%;
	display: flex;
	justify-content: space-around;
	justify-content: center;
	}

#me{
	width: 40%;
	box-sizing: border-box;
	
}

#me2{
	border-radius: 15px;
}

#main{
	padding: 20px;
	overflow: hidden;
	width: 60%;
	box-sizing: border-box;
	}

.box{
	display: flex;
	justify-content: space-between;

}

.square {
	border: solid;
	border-width: 2px;
	border-radius: 20px;
	padding: 20px;
	width: 25%;
	transition: 800ms;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.square:hover{
	border: solid;
	border-color: #5F4939;
	border-width: 5px;
	border-radius: 20px;
	padding: 20px;
	width: 25%;
	box-shadow: 10px 10px 5px #5F4939;
	transition: 800ms;
}







#spotifyLink{
	border-radius: 20px;
}



#footer{
	font-size: 12px;
	text-align: center;
	padding: 20px;

}

#myBtn {
/* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #865a2d; /* Set a background color */
  color: linen; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */ /* Rounded corners */
  font-size: 18px; /* Increase font size */
  border-radius: 50%;
  fo
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


@media screen and (min-width:  780px){
	
}
